<div id="about" class="panel panel-default">
    <div class="panel-heading"><strong> About this site </strong></div>
    <div class="panel-body">
        <p>
            Got any ideas that you wish were real? Post them here!
        </p>

        <p>
            I'm not very creative but definitely very motivated to do something. Hopefully this site will
            help
            creative people meet other people like me and the world
            will be full of cool new innovations.
        </p>

        <p>
            There is no limit to the kinds of things you can post. An idea for an app? The schematics for a car?
            Anything at all!
        </p>
    </div>
</div>