<div id="post" class="panel panel-default">
	<div class="panel-heading"><strong> Post your idea! </strong></div>
	<div class="panel-body">

		<form action="" method="post" class="form-group" role="form">
			<input type="text" id="title" class="form-control" placeholder="Title" />
			<br/>
			<textarea rows="5" id="description" class="form-control" placeholder="Description"></textarea>
			<br/>
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>

	</div>
</div>