<div id="post" class="panel panel-default">
	<div class="panel-heading"><strong> Post your idea! </strong></div>
	<div class="panel-body">

		<form id="newIdeaForm" method="post" class="form-group" role="form">
			<input type="text" id="title" name="title" class="form-control" placeholder="Title" />
			<br/>
			<textarea rows="5" id="details" name="details" class="form-control" placeholder="Description"></textarea>
			<br/>
			<button class="btn btn-primary" onclick="Idea.newIdea(); return false;">Submit</button>
		</form>

	</div>
</div>